body {
    color: rgb(24, 31, 24);
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(89, 221, 28);
}
ul {
display: flex;
justify-content: space-between;
padding: 16px;
}
a {
    color: aliceblue;
    text-decoration: none;
}
